<!doctype html>
<html lang="en">
  <head>
    <title>SMURL</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ static('css/style.css') }}">
  </head>
  <body>
	<header>
		{% import 'navbar.jinja' as navbar %}
		{{navbar.navbar(userName)}}
	</header>
	<div class="container about-container">
		<p class="text-center logo-text">SMURL</p>
        <p class="text-center about-text">SMURL - URL shortening service</p>
	</div>
	{% include 'footer.jinja' %}
	{% include 'scripts.jinja' %}
  </body>
</html>