<!doctype html>
<html lang="en">
  <head>
    <title>SMURL</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ static('css/style.css') }}">
  </head>
  <body>
	<header>
		{% import 'navbar.jinja' as navbar %}
		{{navbar.navbar(userName)}}
	</header>
	<div class="container index-container">
		<div id="textUrl">
			<p class="text-center" id = "topText">Put URL</p>
			<p class="text-center" id ="bottomText">and make it smaller</p>
		</div>
		<div class="row">
			<div class="input-group mt-1 ">
				<input type="text" id = "shortLink" class="form-control shadow-none">
				<div class="input-group-append">
					<button id = "shortenButton" class="btn shadow-none" type="button">Shorten</button>
				</div>
				<input type="hidden" id = "csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			</div>
		</div>
		<h2 id="resultLink" class="text-center"></h2>
	</div>
	{% import 'chat.jinja' as chat %}
	{{chat.chat(userName)}}
	{% include 'footer.jinja' %}
	{% include 'scripts.jinja' %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="{{ static("scripts/index.js") }}"></script>
  </body>
</html>