<!doctype html>
<html lang="en">
  <head>
    <title>SMURL</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ static('css/style.css') }}">
  </head>
  <body>
	<header>
		{% import 'navbar.jinja' as navbar %}
		{{navbar.navbar(userName)}}
        <input type="hidden" id = "csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	</header>
	<div class="container mt-5" >
        <div class="row">
            <div class="col-md-3" >
                <div class="row">
                    <div class="col">
                        <p>Login</p>
                    </div>
                    <div class="col">
                        <p> {{userName}} </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Email</p>
                    </div>
                    <div class="col">
                        <p> {{email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Gender</p>
                    </div>
                    <div class="col">
                        <p>{{gender}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Birth Date</p>
                    </div>
                    <div class="col">
                        <p> {{date}}</p>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-md" id = "app">
                <!-- <div v-for = "(link,key) in links" >
                    
                    <link-view :id = "key" :url = "link.original_link" :short-url = "link.short_link" v-on:on-delete = "removeItem" v-on:on-original-change = "changeItem"></link-view>
                </div>
                <virtual-link-view v-on:on-edit-end = "addItem" v-if = "showVirtualLink"></virtual-link-view>
              <div class="row">
                <div class="col">
                  <button type = "submit" class = "btn btn-primary btn-copy" v-on:click = "onAdd">Add</button>
                </div>
              </div>-->
            </div>
        </div>
	  </div>

    {% import 'chat.jinja' as chat %}
	{{chat.chat(userName)}}
    {% include 'footer.jinja' %}
    {% include 'scripts.jinja' %}

    <script type = "module" src="{{ static("js/chunk-vendors.099e45ac.js") }}"></script>
    <script type = "module" src="{{ static("js/app.703f45b4.js") }}"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type = "module" src="{{ static("scripts/app.js") }}"></script> -->
  </body>
</html>