<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="footer-link"href="about">About</a>
            </div>
            <div class="col">
                <div  class="text-right">&copy; <span id="MyName" >Melnik Yriy KV-21mp </span></div>
            </div>
        </div>
    </div>
</footer>