{% macro navbar(userName) -%}
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark p-0">
        <a class="navbar-brand p-0" href="/">SMURL</a>
        {%- if userName -%}
          <div class="navbar-nav ml-auto mr-2">
            <div class="dropdown">
              <button class="btn btn-secondary shadow-none" type="button" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                {{userName}} 
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuUser">
                <a class="dropdown-item" href="userPage">User page</a>
                <a class="dropdown-item" href="logOut">Log out</a>
              </div>
            </div>
        </div>
        {% else %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="register">Sign up</a>
                </li>
              </ul>
          </div>
        {% endif %}
    </nav>
  </div>
{%- endmacro %}
